.header-right {
    height: 100%;
	
	
	
    .nav-item {
        height: 100%;
        display: flex;
        align-items: center;
        .nav-link {
            color: $l-ctd;
            font-size: 18px;
        }
    }
	.right-sidebar{
		margin-right:-30px;
		a{
			height: 80px;
			width: 80px;
			text-align: center;
			justify-content: center;
			display: flex;
			align-items: center;
			border-left: 1px solid $light;
		}
	}
    &>li {
        &:not(:first-child) {
            padding-left:0.75rem;
			@include respond('tab-land') {
				padding-left:0.5rem;
			}
        }
    }
    .notification_dropdown {
        @include respond('phone-land') {
            position: static;
        }
        .nav-link {
            position: relative;
            color: var(--primary);
			padding:0;
			height: 40px;
			text-align: center;
			line-height: 40px;
			width: 40px;
			@include transitionMedium;
			border-radius: 0.5rem;
			
			.bell-icon{
				-webkit-animation-name: tada;
				animation-name: tada;
				-webkit-animation-iteration-count: infinite;
				animation-iteration-count: infinite;
				-webkit-animation-duration: 1s;
				animation-duration: 1s;
				-webkit-animation-fill-mode: both;
				animation-fill-mode: both;
			}
            i {
                font-size: 24px;
				color:#2b2b2b;
				line-height: 1.6;
				
            }
			svg:not(#icon-full,#icon-minimize){
				path{
					fill:#2b2b2b;
				}
				@include respond('laptop') {
					width:24px;
					height:24px;
				}
			}
			svg{
				&#icon-full,
				&#icon-minimize{
					path{
						stroke:#2b2b2b;
					}
				}
			}
            .badge {
                position: absolute;
				font-size: 12px;
				border-radius: 0;
				right: 0px;
				top: 3px;
				font-weight: normal;
				height: 18px;
				width: 18px;
				line-height: 16px;
				text-align: center;
				padding: 0px;
				@include respond ('laptop'){
					right: -2px;
					top: -2px;
					font-size: 12px;
					height: 18px;
					width: 18px;
					line-height: 18px;
				}
            }
			&:hover{
				background:var(--rgba-primary-1);
			}
        }
        .dropdown-item {
            &:focus,
            &:active {
                a {
                    color: $white;
                }
            }
            a {
                color: $dark;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
    .dropdown-menu {
        border-width:0;
        box-shadow: 0 0 37px rgba(8,21,66,0.05);
        @at-root [data-theme-version="dark"] & {
            box-shadow: none;
        }
    }
    .header-profile {
        &>a.nav-link {
			border-left: 1px solid $border-color;
			margin-left: 10px;
			padding:0;
			padding-left: 20px;
			display: flex;
			align-items: center;
            i {
                font-weight: 700;
            }
			.header-info{
				padding-left: 12px;
				text-align: left;
				@include respond('laptop') {
					padding-left: 10px;
				}
				@include respond('phone') {
					display:none;
				}
				span{
					font-size:16px;
					color:$black;
					display: block;
					font-weight: 600;
				}
				strong{
					color:$dark;
				}
				small{
					display:block;
					font-size: 12px;
					color:$muted;
					font-weight:400;
					line-height: 1.2;
				}
			}
			@include respond ('laptop'){
				margin-left: 10px;
				padding-left: 20px;
			}
			@include respond ('phone'){
				margin-left: 0px;
				padding-left:0px;
				border-left:0;
			}
        }
        .dropdown-menu {
            padding: 15px 0;
            min-width: 12.5rem;
            a {
                &:hover,
                &:focus,
                &.active {
                    color: var(--primary);
                }
            }
        }
        img {
            width: 40px;
            height: 40px;
            border-radius: 0.5rem;
			@include respond('laptop') {
				 width: 39px;
				height: 39px;
			}
        }
        .dropdown-toggle {
            i {
                font-size: 1.25rem;
            }
            span {
                @include respond('phone') {
                    display: none;
                }
            }
        }
        .profile_title {
            background: var(--primary);
            color: $white;
            padding: 10px 20px;
            h5 {
                color: $white;
                margin-bottom: 3px;
            }
        }
        // .dropdown-toggle::after{
        //     display: none;
        // }
        .dropdown-item {
            padding: 8px 24px;
        }
    }
}
.dz-fullscreen{
	#icon-minimize{
		display:none;
	}
	&.active{
		#icon-full{
			display:none;
		}
		#icon-minimize{
			display:inline-block;
		}
	}
	@include respond ('phone'){
		display:none;
	}
}

.dz-theme-mode{
	#icon-light{
		display:none;
	}
	&.active{
		#icon-dark{
			display:none;
		}
		#icon-light{
			display:inline-block;
		}
	}
	@include respond ('phone'){
		display:none;
	}
}

.notification_dropdown {
    .dropdown-menu-right {
        min-width: 310px;
        padding: 0rem 0 1rem;
        top: 100%;
		
        .notification_title {
            background: var(--primary);
            color: $white;
            padding: 10px 20px;
            h5 {
                color: $white;
                margin-bottom: 3px;
            }
        }
        .media {
			width: 45px !important;
			height: 45px !important;
			font-size: 18px !important;
			
            // &:last-child{
            //     border-bottom: 0px;
            // }
            @at-root [data-theme-version="dark"] & {
                border-color: $d-border;
            }
            &>span {
                width: 35px;
                height: 35px;
                border-radius: 50px;
                display: inline-block;
                padding: 7px 9px;
                margin-right: 10px;
				@at-root [direction="rtl"]#{&} {
					 margin-right: 0;
					 margin-left: 10px
				}
                &.success {
                    background: $success-light;
                    color: $success;
                }
                &.primary {
                    background: var(--rgba-primary-1);
                    color: var(--primary);
                }
                &.danger {
                    background: $danger-light;
                    color: $danger;
                }
            }
            .notify-time {
                width: 100%!important;
                margin-right: 0!important;
                color: $l-ctl;
            }
            p {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                max-width: 200px;
                margin-bottom: 0;
                margin-top: 5px;
				@include respond('phone') {
				    max-width: 100px;
				}
            }
        }
        .all-notification {
            display: block;
            padding: 15px 30px 0;
            // color: $dark;
            text-align: center;
			border-top: 1px solid $light;
				
            i {
                margin-left: 10px;
            }
        }
    }
}

//search-area
.search-area{
	width:275px;
	.input-group-append{
		.input-group-text{
			background:#f7f7f7;
			padding:0  15px;
			border-radius:5px;
			i {
				font-size: 16px;
				font-weight: 600;
			}
		}
	}
	.form-control{
		border-radius:5px;
		border:0;
		background:#f7f7f7!important;
		height: 40px;
		padding:0 25px;	
		&:hover,&:active,&:focus{
			background:#f7f7f7;
		}
		&::placeholder{
			color:#8388a0;
		}
	}
	&.right{
		.input-group-append{
			.input-group-text{
				border-bottom-left-radius: 0;
				border-top-left-radius: 0;
			}	
		}	
	}	
	
}
[data-container="boxed"] {
	.search-area{
		display:none!important;
	}
}


@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    -ms-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.tada {
  -webkit-animation-name: tada;
  animation-name: tada;
}
